page-home {
    .company-logo{
        display: flex;
        grid-column-gap: 10px;

        img{
            // width: 60px;
            height: 58px;
            object-fit: contain;
        }
    }

    .share-text{
        font-size: 11px;
        text-transform: capitalize;
    }

}
